

body {
	 background-color: #FFFFFF;
 width: 90%;
margin-left: auto;
margin-right: auto;
font-family: "Times New Roman", Times, serif;
}
.logo {
	float: left;
	padding: 8px;
	border-right: 1px solid black !important;
}
.border {
	border: 1px solid black !important;
}
ul :hover {
  color: darkblue;
   transition-duration: 1s;
  }

.center {
	text-align: center;
}
header{
	margin-bottom: 10px;
	
}

.img {
	width:100%;
	height:auto;
}

#banner {

    background-image:url('images/panorama.jpg');
    background-repeat:no-repeat;
    background-size:cover;
	width: auto;
	height: 271px;
	}

.column {
  
  width: 50%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

